.hero {
  width: 100%;
  max-width: 800px;
  display: flex;
  padding: 15px 25px;
  align-items: center;
  margin: 0 auto 40px auto;
}

.logo {
  display: flex;
  flex: 0 0 60px;
  height: 60px;
  margin-right: 20px;
  border-radius: 50%;
  background-image: linear-gradient(50deg, #dd0261 1%, #f44f5e 99%);
}

.details {
  display: flex;
  flex-direction: column;
}

.details h5 {
  color: #fff;
  font-size: 18px;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.details p {
  width: 100%;
  opacity: 0.6;
  margin: 0;
  font-family: "Lato", sans-serif;
}
