.card {
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.avatar {
  height: 170px;
  background-image: linear-gradient(200deg, #dd0261 1%, #f44f5e 99%);
}

.info {
  background: #fff;
  width: 100%;
  min-height: 50px;
}
