.profile {
  padding: 50px 20px;
  min-height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.wrapper {
  padding: 0 10px 10px 0px;
  flex: 0 0 33.33%;
}
